email-classifier-backend/src/results/checkpoint-40/optimizer.pt filter=lfs diff=lfs merge=lfs -text
email-classifier-backend/src/results/checkpoint-80/optimizer.pt filter=lfs diff=lfs merge=lfs -text
